{%extends 'base.html'%}
{% load bootstrap4 %}

{% block content %}
<div class="container-fluid" id="main-hoo">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="bz">
        <form action="{% url 'add_hood' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form hooform %}
            <input type="submit" class="btn btn-success" value="Add Place">
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
</div>
{% endblock %}