{% load bootstrap4 %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
</head>

<body>
    <div class="container-fluid" id="nav">
        <div class="topnav" id="nav">
            <div class="row">
                <div class="col-md-2">
                    <div id="main">
                        <a href="{% url 'home_page' %}">
                            <img src="../static/images/images.png" width="40px;" height="50x;" class="img-responsive"
                                style="">
                        </a>
                    </div>
                </div>
                
                <div style=" position:relative; left:250px; padding-top: 10px;" class="col-md-2" height="10px;" width="20px; ">
                    <form class="navbar-form" role="search" action="">
                        <input type="text" name="search" placeholder="Search.." id="input">
                    </form>

                </div>

                <div class="col-md-2" id="drop">
                    {% if user.is_authenticated %}
                    <ul class="" style="position:absolute; left: 180px;" >
                        <li class="dropdown btn profile-settings-btn" style="list-style:none;" aria-label="profile settings">
                            <a href="#" class="dropdown-toggle btn btn-success" data-toggle="dropdown" role="button"
                                aria-expanded="false" style="color:white;"><i class="fa fa-cog" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu" style="position: absolute;left: 0px;
                            top: 0px;
                            z-index: 1;">
                                <li>
                                    <a href="{% url 'home_page' %}">Home</a>
                                </li>
                                <li>
                                    <a href="{% url 'edit_profile' %}">Edit Profile</a>
                                </li>
                                <li>
                                    <a href="/accounts/password/change">Change Password</a>
                                </li>
                                <li>
                                    <a href="/logout">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    {% else %}
                    <li style="list-style: none; padding: 10px; color: black ;">
                        <a href="/accounts/register/" style=" font-size: 13px; left: 240px; position: relative;">REGISTER /</a>
                        <a class='btn btn-default' href="/accounts/login" style=" font-size: 13px; left:230px; position: relative;">LOGIN</a>
                    </li>

                    {% endif %}
                    {% if data.profile.Profile_photo %}
                    <img src="{{profile.profile.Profile_photo.url}}" alt="img" width="50px" height="50px ">
                    <h1 class="profile-user-name" style="font-size: 14px;">{{profile.username}}</h1>
                    {% endif %}
                </div>
                <div class="col-md-2" style="text-align: center; padding-top: 31px; font-size: 13px; color:white;background-color:green; left: 500px;;">
                    <a href="{% url 'add_hood' %}" style="color: white; position: relative; bottom:17px;">ADD LOCATION</a>
                </div>
            </div>
        </div>
    </div>
</body>