#login{
    font-family:sans-serif;
    font-size: 13px;
    padding-bottom: 80px;
}
#register{
    background-image: url(../images/lapy.jpg);
    background-attachment: fixed;
    height: 100vh;
}
 
.form-text{
    type: hidden;
    display: none;
    visibility: hidden;
}
#protus{
    background-image: url(../images/lapy.jpg);
    background-attachment: fixed; 
    height: 100vh;
    position: relative;
}
#nav{
    font-family: 'Righteous', cursive;
    color:white;
    background-color: gainsboro;
    opacity: 0.9;
    height: 50px;
}
#drop ul{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
#pro{
    background-image:linear-gradient(rgba(0, 0, 0, 0.9),rgba(0,0,0,0.9)),url(../imaes/view.jeg);
    background-attachment: fixed;
    background-size: 1400px 800px;
    height: 100vh;

}
#proc{
    margin-top: 20px;
    background-color: rgb(0,0,0,0.9);
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Alegreya Sans SC', sans-serif;
    position: relative;
}

#proc img{
    border-radius: 50%;
  }

#bz{
    margin-top: 80px;
    background-color:grey;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Alegreya Sans SC', sans-serif;
    position: relative;
}

#main-biz{
    background-color: gainsboro;
    background-repeat: no-repeat;
    height: 100vh;
}
#all{
    background-color: gainsboro;
    background-attachment: fixed;
}
#main-hoo{
    background-image: url(../images/place.jpg);
    height: 100vh;
    background-attachment: fixed;
    font-family: 'Alegreya Sans SC', sans-serif;
}
#hoo-1{
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Alegreya Sans SC', sans-serif;
    color:black;
    background-color:gainsboro;
    opacity: 0.9;
    
}
#pst{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Alegreya Sans SC', sans-serif;

}
#biz{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Alegreya Sans SC', sans-serif;
}
#single-hoody{
    font-family: 'Alegreya Sans SC', sans-serif; 
    background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0,0,0,0.8)),url(../images/bg2.jpeg);
    height: 100%;
    background-attachment: fixed;
    color: white;
}
#single-hoody .card{
    background-color: rgb(0,0,0,0.9);
}